@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box {
    background-color: rgba(206, 241, 242, 0.6);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}

.logo {
    margin: 0 auto 1rem;
    display: block;
    width: 360px;
    height: auto;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.button {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}